.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #383838;
	border-bottom: 2px solid #009cf5;
	height: 50px;
	z-index: 1;
}

.create {
	color: #009cf5;
	padding: 6px 0 6px 0;
}

.projectName select {
	background: #383838;
	border: none;
	color: #009cf5;
	font-size: 20px;
	font-weight: 900;
}

.top {
	padding-bottom: 5px;
}

.red {
	cursor: pointer;
	color: red;
}

.yellow {
	cursor: pointer;
	color: yellow;
}

.user {
	color: #009cf5;
}

.card {
	cursor: pointer;
}

.complete {
	cursor: pointer;
}

.col-4 {
	text-align: center;
	margin: auto;
}

.checkboxHouse {
	display: flex;
	padding-top: 3px;
	text-align: center;
	justify-content: center;
	margin: auto;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 2px solid white;
	border-radius: 3px;
}
input[type='checkbox']:checked {
	background: #009cf5;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #383838;
	border-top: 2px solid #009cf5;
	height: 50px;
}

.showCompleted {
	font-weight: 900;
	color: #009cf5;
	margin-bottom: 10px;
}
