.navbar {
	background: #383838;
	border-bottom: 2px solid #009cf5;
	height: 50px;
}

.create {
	color: #009cf5;
	padding: 6px 0 6px 0;
}

.projectName select {
	background: #383838;
	border: none;
	color: #009cf5;
	font-size: 20px;
	font-weight: 900;
}

.user {
	color: #009cf5;
}
