.navbar {
	background: #383838;
	border-bottom: 2px solid #009cf5;
	height: 50px;
}

.create {
	color: #009cf5;
	padding: 6px 0 6px 0;
}

.projectName select {
	background: #383838;
	border: none;
	color: #009cf5;
	font-size: 20px;
	font-weight: 900;
}

.top {
	padding-bottom: 5px;
}

.user {
	color: #009cf5;
}

.card {
	cursor: pointer;
}

.complete {
	cursor: pointer;
}

.checkboxHouse {
	display: flex;
	padding-top: 3px;
	text-align: center;
	justify-content: center;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	background: #383838;
	border-radius: 2px;
}
input[type='checkbox']:checked {
	background: #009cf5;
}
